<!--Cookie usage-->
<!--<div class="alert-message">-->
	<!--<a href="#">We use cookies to provide you with a better onsite experience. By continuing to browse the site you are agreeing to our use of cookies in accordance with our Cookie Policy.</a>-->
	<!--<div class="close"></div>-->
<!--</div>-->
<header>
  <div class="container flex-grid">
  	<a href="{{ .Site.BaseURL }}" class="header__logo logo">
  	</a>
  	<ul class="menu">
  		<li class="menu__item"><a href="{{ .Site.BaseURL }}categories" class="menu__link">Category</a></li>
  		<li class="menu__item"><a href="{{ .Site.BaseURL }}tags" class="menu__link">Tags</a></li>
  	</ul>
      <!--<form id="search" class="search">-->
          <!--<input type="text" class="search__text" placeholder="Search text">-->
          <!--<button class="search__button"></button>-->
      <!--</form>-->
      <!--<a href="javascript:void(0)" class="subscribe button">Subscribe</a>-->
  </div>
</header>
